@use '../../styles/includes' as *;

.tag {
  display: inline-block;
  padding: 0 8px;
  border-radius: 3px;
  background-color: $lighter-gray;
  min-width: 54px;
  text-align: center;
  margin-right: 10px;
  max-height: 22px;
  height: 22px;
  span {
    font-size: 12px;
    line-height: 22px;
    vertical-align: top;
  }
}

.dataScience {
  color: $white;
  background-color: $orange;
  span {
    font-size: 13px;
  }
}

.development {
  color: $white;
  background-color: $green;
  span {
    font-size: 13px;
  }
}

.design {
  color: $white;
  background-color: $light-blue;
  span {
    font-size: 13px;
  }
}

.role {
  background-color: $light-gray;
  span {
    font-size: 13px;
  }
}
