@use '../../../styles/includes' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn {
  border: none;
  background-color: transparent;
  margin: 0;
  outline: none !important;
  border: 1px solid $tc-gray-30;
  border-radius: 6px;
  padding: 0 3px;
}
