.container {
  display: flex;
  flex-direction: column;

  &.scrollIndependent {

    .content {
      // min-height: 0;
      // height: 100vh;
      // overflow: auto;
    }
  }
}

.content {
  max-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;

  /*
    if there is not enough space for sidebar to be 300
    than content becomes 3/4 of the width
  */
  @media screen and (max-width: 300px * 4) {
    width: auto;
    flex: 4;
  }
}
