@import '../../../../styles/includes';

.container {
  color: $light-text;
  line-height: 21px;
}

.circle {
  display: inline-flex;
  width: 8px;
  height: 8px;
  min-width: 8px;
  min-height: 8px;
  border-radius: 50%;
  background-color: $inactive;
  margin: 0 10px;
  vertical-align: middle;
}

.circle.green {
  background-color: $green;
}


.phase {
  display: flex;
}

.phase.open {
  background-color: $light-gray;
}

.type {
  flex: 3;
  > span{
    vertical-align: middle;
  }
}

.type.open {
  @include roboto-bold();
}


.date {
  text-align: left;
}

.duration {
  flex: 1;
  text-align: right;
  padding-right: 7px;
}

