@use '../../../styles/includes' as *;

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 30px 30px 0 30px;
  align-content: space-between;
  justify-content: flex-start;

  .field {
    @include upto-sm {
      display: block;
      padding-bottom: 10px;
    }

    label {
      @include roboto-bold();

      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: $tc-gray-80;
    }

    &.col1 {
      max-width: 185px;
      min-width: 185px;
      margin-right: 14px;
      margin-bottom: auto;
      margin-top: auto;
      padding-top: 10px;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }

    &.col2 {
      align-self: flex-end;
      width: 80%;
      margin-bottom: auto;
      margin-top: auto;
      display: flex;
      flex-direction: row;
      max-width: 600px;
      min-width: 600px;
    }
  }

  .fileTypeList {
    margin: 0;
    padding: 0;
  }

  .fileTypeListEditable {

  }

  .fileTypeItem {
    background-color: #2C95D7;
    border-radius: 2px;
    border: 1px solid #c9e6f2;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    padding: 2px 30px 2px 5px;
    position: relative;
    vertical-align: top;
  }

  .fileTypeDelete {
    align-items: center;
    background-color: #c6def1;
    border: 0;
    color: #2C95D7;
    cursor: pointer;
    display: flex;
    border-radius: 50%;
    font-size: 14px;
    height: 16px;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;

    &:hover {
      background-color: #fff;
    }
  }

  form {
    display: flex;
    flex-direction: row;
  }

  .button {
    width: 137px;
    height: 40px;
    margin-left: 30px;
  }
}
