@import "../../styles/includes";
@i

.container {
  display: flex;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 30px 30px 0 30px;
  align-content: space-between;
  justify-content: flex-start;

  .field {
    @include upto-sm {
      display: block;
      padding-bottom: 10px;
    }

    label {
      @include roboto-bold();

      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: $tc-gray-80;
    }

    &.col1 {
      max-width: 185px;
      min-width: 185px;
      margin-right: 14px;
      margin-bottom: auto;
      margin-top: auto;
      padding-top: 10px;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }

    &.col2 {
      align-self: flex-end;
      margin-bottom: auto;
      margin-top: auto;
      display: flex;
      flex-direction: row;

      input {
        border-radius: 2px;
        width: 165px;
      }

      .dayPicker {
        margin-right: 30px;
      }

      .timePicker {
        width: 146px;
        margin-right: 30px;
      }
      .scorecards {
        width: 229px;
      }
    }
  }
}




