@import "../../styles/includes";
@i

.container {
  display: flex;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 30px 30px 0 30px;
  align-content: space-between;
  justify-content: flex-start;

  .field {
    @include upto-sm {
      display: block;
      padding-bottom: 10px;
    }

    label {
      @include roboto-bold();

      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: $tc-gray-80;
    }

    &.col1 {
      max-width: 185px;
      min-width: 185px;
      margin-right: 14px;
      margin-bottom: auto;
      margin-top: auto;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }

    &.phaseName {
      flex-direction: column;
      align-items: flex-start;

      .previewDates {
        font-size: 13px;
        display: flex;
        color: $red;
        font-weight: 300;

        span {
          color: $dark-gray;
          margin-right: 10px;
        }
      }
    }

    &.col2 {
      align-self: flex-end;
      margin-bottom: auto;
      margin-top: auto;
      display: flex;
      flex-direction: row;

      input {
        border-radius: 2px;
      }

      .dayPicker {
        width: 180px;
        margin-right: 30px;

        :global {
          .DayPickerInput {
            width: 100%;
          }
        }

        input {
          width: 100%;
        }
      }

      .timePicker {
        width: 90px;

        input {
          width: 100%;
        }

        :global {
          .rc-time-picker-clear {
            top: 9px;
          }
        }
      }

      .durationPicker {
        width: 180px;
      }

      .scorecards {
        width: 190px;
        margin-left: 30px;
      }

      :global{
        .rc-time-picker-clear{
          display: none;
        }
      }
    }
  }
}

.readOnlyValue {
  color: black;
}


