@import "../../../styles/includes";

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 30px 30px 0 30px;
  align-content: space-between;
  justify-content: flex-start;

  .field {
    @include upto-sm {
      display: block;
      padding-bottom: 10px;
    }

    label {
      @include roboto-bold();

      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: $tc-gray-80;
    }

    &.col1 {
      max-width: 185px;
      min-width: 185px;
      margin-right: 14px;
      white-space: nowrap;
      display: flex;
      align-items: center;

      span {
        color: $tc-red;
      }
    }

    &.col2.error {
      color: $tc-red;
      margin-top: -25px;
    }
    &.col2 {
      align-self: flex-end;
      margin-bottom: auto;
      margin-top: auto;
      display: flex;
      flex-direction: row;
      max-width: 600px;
      min-width: 600px;
    }
  }
}

.challengeName {
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    line-height: 38px;
    color: $tc-gray-80;
  }
  &::-webkit-input-placeholder { /* Webkit */
    line-height: 38px;
    color: $tc-gray-80;
  }
  &:-ms-input-placeholder { /* IE */
    line-height: 38px;
    color: $tc-gray-80;
  }
}

