@use '../../styles/includes' as *;

.container {
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
  outline: none !important;
  background-color: transparent;
  color: $tc-gray-90 !important;
}

.loader {
  width: auto;
  height: auto;
  margin-left: 5px;

  svg {
    width: 20px;
    height: 20px;
  }
}
