@import "../../../styles/includes";

.container {
  display: flex;
  flex-direction: column;

  .row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-start;
    margin-top: 30px;

    .field {
      @include upto-sm {
        display: block;
        padding-bottom: 10px;
      }

      label {
        @include roboto-bold();

        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        color: $tc-gray-80;
      }

      &.col1 {
        max-width: 185px;
        min-width: 185px;
        margin-left: 30px;
        margin-right: 14px;
        margin-bottom: auto;
        margin-top: auto;
        padding-top: 10px;
        white-space: nowrap;
        display: flex;
        align-items: center;
      }

      &.col2 {
        align-self: flex-end;
        margin-bottom: auto;
        margin-top: auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
          margin-right: 30px;
          width: 271px;
        }
        input:last-of-type {
          width: 187px;
          margin-right: 10px;
        }
      }
    }

    .uploadPanel {
      cursor: pointer;
      margin: 0 30px;
      width: 100%;
      align-self: center;


      border: 1px solid $tc-gray-40;
      border-radius: 6px;
      height: 227px;

      label {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .icon {
        color: $tc-blue-20;
        margin-bottom: 30px;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include roboto;

        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: $tc-gray-80;

        span {
          color: $tc-blue-20;
        }
      }

      input {
        display: none;
      }
    }

    .header {
      @include roboto-medium();

      width: 100%;
      align-self: center;
      box-sizing: border-box;
      background-color: $tc-gray-20;
      height: 39px;
      border-radius: 2px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      font-weight:500;
      line-height: 19px;
      color: $tc-gray-80;
      padding: 0 30px;

      .col1 {
        flex: 4;

      }
      .col2 {
        flex: 4;
        display: flex;
        justify-content: center;
        padding-right: 15px;
      }
      .col3 {
        flex: 4;
        display: flex;
        justify-content: flex-end;
      }
    }

    .fileRow {
      @include roboto;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      height: 62px;
      border-bottom: 1px solid $tc-gray-60;
      color: $tc-gray-80;
      padding: 0 30px;

      .col1 {
        color: $tc-blue-20;
        flex: 4;

      }
      .col2 {
        flex: 4;
        display: flex;
        justify-content: center;
      }

      .icon {
        color: $tc-red;
        flex: 4;
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
        cursor: pointer;
      }
    }
  }
  .row:nth-of-type(4) {
    flex-direction: column;
    padding: 0 30px;
  }

  .icon {
    color: $tc-red;
    cursor: pointer;
  }

}

