@use '../../../styles/includes' as *;

.container {
  min-height: 22px;
  width: 86px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  span {
    @include roboto;

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: $white;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.gray {
    background-color: $status-gray;
  }

  &.green {
    background-color: $status-green;
  }

  &.blue {
    background-color: $status-blue;
  }

  &.yellow {
    background-color: $status-yellow;
  }

  &.red {
    background-color: $tc-red;
  }
}
