@import "../../../../styles/includes";
.list {
  width: 100%;
}

.item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid $gray;
  box-sizing: border-box;
  td {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.submissionLink {
  color: $link-color;
  margin-right: 5px;
}

.handle {
  display: flex;
}

.date {
  color: $light-text;
  text-align: left;
  width: 100%;
}

.score {
  text-align: start;
}

.fail {
  color: $red;
}
