@import "../../../../styles/includes";
.list {
  width: 100%;
  > thead > tr > th:last-of-type {
    justify-content: center;
    text-align: center;
  }
}

.item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid $gray;
  margin-top: -1px;
  box-sizing: border-box;
  td {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  >  td:last-of-type {
    justify-content: center;
    text-align: center;
  }
}

.submissionLink {
  color: $link-color;
  margin-right: 5px;
}

.rank {
  color: $light-text;
}

.handle {
  display: flex;
}

.date {
  color: $light-text;
  text-align: left;
  width: 100%;
}

.provisionalScore {
  flex: 1;
}

.expandButton {
  width: 100%;
  color: $gray;
  margin: 0 5px 0 5px;
  font-size: 15px;
  cursor: pointer;
}

.expandableContentRow {
  background-color: $lighter-gray;
  > td, > th {
    flex: 1;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-size: 12px;
  }
  > th {
    @include roboto-bold();
    vertical-align: bottom;
    margin-top: 10px;
  }
  > td {
    line-height: 30px;
  }
}
