@import "../../../styles/includes";

.container {
  @include roboto-medium();

  width: 100%;
  height: 100%;
  border-radius: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0 20px;

  // don't underline if button is done as a link
  &:hover {
    text-decoration: none;
  }

  // hide outline for buttons and links
  &:focus,
  &:active,
  &:visited {
    outline: none;
  }

  span {
    color: $white;
  }

  &.danger {
    background-color: $tc-red;

    &:disabled {
      cursor: default;
      background-color: $inactive;
    }
  }

  &.info {
    background-color: $tc-blue-20;

    &:disabled {
      cursor: default;
      background-color: $inactive;
    }
  }

  &.success {
    background-color: $tc-green-40;

    &:disabled {
      cursor: default;
      background-color: $inactive;
    }
  }

  /* this style just visually simulates the disable status of the button */
  &.disabled {
    cursor: default;
    background-color: $inactive;

    // override possible styles for
    &:not(:disabled),
    &:disabled {
      cursor: default;
    }
  }
}
