@import "../../styles/includes";
.topbar {
  height: 60px;
  background-color: $white;
  padding: 0 30px 0 30px;
  border-bottom: 1px solid $gray;
}

.logo {
  height: 60px;
  max-width: 60%;
  float: left;
  margin-left: -30px;
  background: #2e4050;
}

.hide-line {
  border-bottom: none;
}

.details {
  display: block;
  margin-left: auto;
  text-align: right;
  font-size: 16px;
  line-height: 60px;

}

.icon {
  vertical-align: middle;
  color: $blue;
  margin-left: 20px;
  font-size: 20px;
}
