@use '../../styles/includes' as *;

.container {
  box-sizing: border-box;
  display: flex;
  height: 40px;
  width: 449px;
}

.selectContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tc-prize-bg;
  border: 1px solid $tc-gray-40;
  max-width: 50px;
  min-width: 50px;
  width: 50px;
  border-right-width: 0;
  font-size: 14px;
  font-weight: 500;
  color: $tc-black;
}

.icon {
  width: 21.68px;
  height: 21.68px;
  color: $tc-black;
}

.pointsLabel {
  @include roboto-medium;
}
