@use '../../../styles/includes' as *;

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 30px 30px 0 30px;
  align-content: space-between;
  justify-content: flex-start;

  .field {
    @include upto-sm {
      display: block;
      padding-bottom: 10px;
    }

    label {
      @include roboto-bold();

      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: $tc-gray-80;
    }

    &.col1 {
      max-width: 185px;
      min-width: 185px;
      margin-right: 14px;
      white-space: nowrap;
      display: flex;
      align-items: center;

      span {
        color: $tc-red;
      }
    }

    &.col2.error {
      color: $tc-red;
      margin-top: -25px;
    }
    &.col2 {
      align-self: flex-end;
      margin-bottom: auto;
      margin-top: auto;
      display: flex;
      flex-direction: row;
      width: 600px;
    }
  }
}

.skillsFieldWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.aiSuggestButton {
  align-self: flex-start;
  min-width: 120px;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border-radius: 4px;
  gap: 12px;
}

.loadingText {
  font-size: 14px;
  color: $tc-gray-80;
  font-weight: 500;
}

.embeddedWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.embeddedContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.embeddedError {
  color: $tc-red;
  font-size: 12px;
  margin-top: 6px;
}

.embeddedReadOnly {
  padding: 10px 0;
  color: $tc-gray-80;
}
