@import "../../styles/includes";


.errorContainer {
  color: $red;
  padding: 10px;
}

.modalContainer {
  padding: 0;
  position: fixed;
  overflow: auto;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: auto;
  max-width: none;
  transform: none;
  background: transparent;
  color: $text-color;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rejectChallengeContainer {

  .cancelReasonContainer {
    margin-top: 25px;
    width: 100%;
    text-align: center;
  
    textarea.cancelReason {
      width: 75%;
    }
  }

  .rejectButtonContainer {
    display: flex;
    margin: 0px 30px;
    flex-direction: row;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 70%;

    button {
      height: 40px;
      margin-right: 30px;

      span {
        padding: 0 20px;
      }
    }

    .button:last-of-type {
      margin-right: 0;
    }
  }
}