@import "../../../styles/includes";

$tc-gold: #ffd84d;
$tc-gold-130: #9a6d00;
$tc-silver: #d1d0cf;
$tc-silver-130: #554e48;
$tc-bronze: #d98f64;
$tc-bronze-130: #733d17;
$tc-gray-10: #d5d5d5;
$member-gray: #555;
$member-green: #258205;
$member-blue: #4c50d9;
$member-yellow: #f2c900;
$member-red:  #ea1900;

.container {
  @include roboto;

  padding-top: 66px;
  padding-bottom: 197px;
  max-width: 966px;
  margin: 0 auto;

  @include xs-to-sm {
    padding: 0 30px 30px;
  }
}

.head {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  padding-bottom: 14px;
  color: $tc-gray-50;
  display: flex;
  border-bottom: 1px solid $tc-gray-10;

  @include xs-to-sm {
    display: none;
  }
}

.body {
  @include xs-to-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.row {
  display: flex;
  line-height: 50px;
  color: $tc-gray-70;
  font-size: 15px;
  border-bottom: 1px solid $tc-gray-10;

  @include xs-to-sm {
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }
}

.sm-only {
  display: none;

  @include xs-to-sm {
    display: block;
  }
}

.title {
  color: $tc-gray-50;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  padding: 10;

  @include xs-to-sm {
    padding-left: 0;
    line-height: 20px;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
  }
}

.col-arrow {
  display: flex;
  padding-left: 5px;

  :global {
    svg {
      margin-bottom: -1px;
    }
  }
}

.col-arrow-is-sorting {
  :global {
    g {
      fill: #006ad7;
    }
  }
}

.col-arrow-sort-asc {
  -moz-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.col-1 {
  width: 150px;
  padding-left: 20px;
  color: $tc-gray-50;

  > span {
    line-height: 15px;

    :global {
      div {
        display: flex;
        justify-items: center;
        height: 100%;
      }
    }
  }

  @include xs-to-sm {
    padding-left: 0;
    margin-bottom: 10px;
    line-height: 20px;
    width: auto;
  }
}

.col-2 {
  width: 150px;
  margin-left: 20px;

  @include xs-to-sm {
    padding-left: 0;
    margin-bottom: 10px;
    line-height: 20px;
    width: auto;
  }
}

.col-3 {
  width: 298px;

  @include xs-to-sm {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
    width: auto;
  }

  a,
  a:hover,
  a:visited {
    &:hover {
      text-decoration: underline;
    }
  }
}

.col-4 {
  width: 317px;

  @include xs-to-sm {
    margin-bottom: 15px;
    line-height: 20px;
    width: auto;
  }
}

.col-5 {
  display: flex;
  align-items: center;

  @include xs-to-sm {
    margin-bottom: 15px;
    line-height: 20px;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
}

.col-6 {
  display: flex;
  align-items: center;
  width: 351px;

  @include xs-to-sm {
    line-height: 20px;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
}

.table-header {
  cursor: pointer;
  background: transparent;

  &:hover {
    color: #006ad7;

    :global {
      g {
        fill: #006ad7;
      }
    }
  }
}

.passed {
  display: inline-block;
  height: 22px;
  margin-bottom: 3px;
  margin-left: 9px;
  vertical-align: middle;
  width: 22px;
}

.placement {
  background-color: #cee6ff;
  color: #006ad7;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  line-height: 22px;
  text-align: center;
  margin-left: 6px;
}

.placement-1 {
  background-color: $tc-gold;
  color: $tc-gold-130;
}

.placement-2 {
  background-color: $tc-silver;
  color: $tc-silver-130;
}

.placement-3 {
  background-color: $tc-bronze;
  color: $tc-bronze-130;
}

.design {
  .col-3 {
    width: 212px;
  }

  .col-4 {
    width: 231px;
  }

  .col-5 {
    width: 265px;
  }

  .col-6 {
    width: 258px;
  }
}

.tooltip {
  font-size: 14px;
  margin: 10px 10px 0 10px;
  padding-top: 5px;
}

.level-1 {
  color: $member-gray !important;
}

.level-2 {
  color: $member-green !important;
}

.level-3 {
  color: $member-blue !important;
}

.level-4 {
  color: $member-yellow !important;
}

.level-5 {
  color: $member-red !important;
}
