$white: #ffffff;
$gray: #A7B1C1;
$lighter-gray: #EBEBEB;
$light-gray: #F4F9FE;
$dark-gray: #2E4050;
$darker-gray: #293846;
$dark-gray-90: #2A2A2A;

$orange: #FB7D21;
$teal: #18AA8D;
$green: #60C602;
$red: #D0021B;

$light-blue: #27ACE8;
$blue: #337AB7;

$link-color: #006DEA;

$text-color: #151516;
$light-text: #6B6B6B;

$white-text: #F3F3F4;

$light-bg: #FAFAFB;
$button-blue: #0881FF;

$inactive: #D8D8D8;

$status-blue: #2C95D7;
$status-green: #60C602;
$status-gray: #979797;

$challenges-title: #2A2A2A;

$tc-yellow: #FDD615;
$tc-blue-10: #83C5EE;
$tc-blue-20: #2C95D7;
$tc-blue-30: #2984BD;
$tc-blue-40: #16679A;

$tc-green-20: #43D7B0;
$tc-green-30: #60C602;
$tc-green-40: #35AC35;

$tc-red: #BE405E;

$tc-gray-00: #FFFFFF;
$tc-gray-10: #FBFBFB;
$tc-gray-20: #F4F4F4;
$tc-gray-30: #E9E9E9;
$tc-gray-40: #D4D4D4;
$tc-gray-50: #AAAAAA;
$tc-gray-60: #979797;
$tc-gray-70: #555555;
$tc-gray-80: #2A2A2A;
$tc-black: #000000;

$tc-handle-yellow: #FDD615;
$tc-handle-red: #EF3A3A;
$tc-handle-green: #69C329;
$tc-handle-gray: #9D9FA0;

$tc-prize-bg: #EBEBEB;
$tc-multi-select-icon-bg-color: #c6def1;
