@use '../../../styles/includes' as *;

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 30px 30px 0 30px;
  align-content: space-between;
  justify-content: flex-start;

  .field {
    @include upto-sm {
      display: block;
      padding-bottom: 10px;
    }

    label {
      @include roboto-bold();

      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: $tc-gray-80;
    }

    &.col1 {
      max-width: 185px;
      min-width: 185px;
      margin-right: 14px;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }
    
    &.col2.error {
      color: $tc-red;
      margin-top: -25px;
    }

    &.col2 {
      align-self: flex-end;
      margin-bottom: auto;
      margin-top: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;

        div {
          margin-right: 13px;
        }
    }
  }
}
