@import "../../styles/includes";

.select {
  :global {
    @import '~react-select/dist/react-select';

    width: 100%;

    .Select-control {
      height: 40px !important;
      border-radius: 2px !important;
    }
    .Select.is-focused:not(.is-open) > .Select-control {
      border: 1px solid $tc-blue-20 !important;
      box-shadow: none !important;
      input {
        border: none;
      }
    }
    .Select.is-focused.is-open.is-searchable.Select--single >.Select-control {
      border: 1px solid $tc-blue-20 !important;
      border-bottom: none;

      input {
        border: none;
      }

    }

    .Select-menu-outer {
      box-sizing: border-box;
      @include roboto-light();

      font-size: 15px;
      font-weight: 300;
      line-height: 18px;
      color: $tc-gray-80;
      border: 1px solid $tc-blue-20;
      z-index: 2;
    }

    .Select-option {
      padding-left: 20px;
    }

    .Select-placeholder {
      @include roboto-light();

      font-size: 15px;
      font-weight: 300;
      padding-left: 20px;
      color: $tc-gray-80;
    }

    .Select--multi > .Select-control > .Select-multi-value-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 4px;

      .Select-value {
        background-color: $tc-blue-20;
        color: $white;
        padding-left: 0 !important;
        padding-right: 24px;
        position: relative;

        .Select-value-icon {
          position: absolute;
          right: 0;
          margin: 4px 4px;
          border-radius: 50%;
          width: 16px;
          height: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          background-color: $tc-multi-select-icon-bg-color;
          color: $tc-blue-20;
          padding-top: 2px;
          padding-left: 6px;
        }

        .Select-value-label {
          font-size: 14px;
        }
      }

      input {
        border-width: 0;
      }
    }

    input.Select-input,
    input.Select-input:focus {
      background-color: transparent !important;
      margin-left: 0 !important;
      padding-right: 6px !important;
      padding-left: 10px !important;
      border: none !important;
    }

    .Select--single > .Select-control > .Select-multi-value-wrapper {
      width: 100% !important;

      .Select-value {
        padding-left: 20px !important;

        @include roboto-light();
        font-size: 15px;
        font-weight: 300;
      }

      .Select-input {
        input {
          padding-left: 10px;
        }
      }
    }
  }
}
