@import '../../../styles/includes';

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 30px 30px 0 30px;
  align-content: space-between;
  justify-content: flex-start;

  .fieldTitle {
    @include roboto-bold();
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: $tc-gray-80;
    margin-right: 10px;
  }

  .field {
    @include upto-sm {
      display: block;
      padding-bottom: 10px;
    }

    label {
      @include roboto-bold();

      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: $tc-gray-80;
    }

    &.col1 {
      max-width: 185px;
      min-width: 185px;
      margin-right: 14px;
      margin-bottom: auto;
      margin-top: auto;
      padding-top: 10px;
      white-space: nowrap;
      display: flex;
      align-items: center;

      span {
        color: $tc-red;
      }
    }

    &.col2 {
      align-self: flex-end;
      width: 80%;
      margin-bottom: auto;
      margin-top: auto;
      display: flex;
      flex-direction: row;
      max-width: 600px;
      min-width: 600px;
    }
  }

  .col1 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    max-width: 0;
    min-width: 0;
    margin-right: 0;
    width: auto;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .col2 {
    width: auto;

    .subGroup {
      width: 100%;
      display: flex;
      flex-direction: column;

      .subRow {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
      }

      .subRow:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .tcRadioButton {
    .tc-radioButton-label {
      @include roboto-light();

      line-height: 17px;
      font-weight: 300;
      margin-left: 21px;
      user-select: none;
      cursor: pointer;
      width: 195px;
      font-size: 14px;
      color: #3d3d3d;
    }

    height: 18px;
    width: 80px;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    position: relative;
    display: inline-block;

    input[type=radio] {
      display: none;
    }

    label {
      @include roboto-light();

      line-height: 17px;
      font-weight: 300;
      cursor: pointer;
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      top: 0;
      left: 0;
      border: none;
      box-shadow: none;
      background: $tc-gray-30;
      transition: all 0.15s ease-in-out;

      &::after {
        opacity: 0;
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background: transparent;
        top: 4px;
        left: 4px;
        border: 4px solid $tc-blue-20;
        border-radius: 4px;
        transition: all 0.15s ease-in-out;
      }

      &:hover::after {
        opacity: 0.3;
      }

      div {
        margin-left: 24px;
        width: 300px;
      }
    }

    input[type=radio]:checked ~ label {
      background: $tc-blue-20;
    }

    input[type=radio]:checked + label::after {
      opacity: 1;
      border-color: $white;
    }
  }

  &.error {
    color: $tc-red;
    margin-top: -25px;
  }
}
