@use '../../styles/includes' as *;

.container {
  padding: 20px 20px 0px;

  ul {
    background-color: $lighter-gray;
    list-style: none;
    width: 100%;
    padding: 0;
    margin-top: 0;
    border-radius: 3px;
    flex: 1;
  }

  div,
  a {
    color: $dark-gray;
    text-decoration: none;
  }
}

.headerLine {
  display: flex;
  gap: 5px;
  padding-bottom: 15px;
  justify-content: space-between;
  align-items: center;
  .buttonNewProject {
    min-width: 169px;
    height: 40px;
    text-decoration: none;
    
    :global {
      span {
        margin: 0 20px;
      }
    }
  }
}

.searchWrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: end;
  .searchInput {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid $light-gray;
    background-color: $lighter-gray;

    > div {
      width: 100%;
    }
  }

  .tcCheckbox {
    @include tc-checkbox;

    .tc-checkbox-label {
      @include roboto-light();

      line-height: 17px;
      font-weight: 300;
      margin-left: 21px;
      user-select: none;
      cursor: pointer;
      width: 195px;
      font-size: 14px;
      color: #3d3d3d;
    }

    height: 18px;
    width: 210px;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    position: relative;
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 8px;

    input[type=checkbox] {
      display: none;
    }

    label {
      @include roboto-light();

      line-height: 17px;
      font-weight: 300;
      cursor: pointer;
      position: absolute;
      display: inline-block;
      width: 18px;
      height: 18px;
      top: 0;
      left: 0;
      border: none;
      box-shadow: none;
      background: $tc-gray-30;
      transition: all 0.15s ease-in-out;

      &::after {
        opacity: 0;
        content: '';
        position: absolute;
        width: 9px;
        height: 5px;
        background: transparent;
        top: 5px;
        left: 5px;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
        transition: all 0.15s ease-in-out;
      }

      &:hover::after {
        opacity: 0.3;
      }

      div {
        margin-left: 24px;
        width: 300px;
      }
    }

    input[type=checkbox]:checked ~ label {
      background: $tc-blue-20;
    }

    input[type=checkbox]:checked + label::after {
      border-color: $white;
    }
  }
}
