@import "../../styles/includes";

.challenges {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

.title {
  @include roboto-bold();

  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: $challenges-title;
  text-align: center;
}

.titleContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.buttonLaunchNew {
  min-width: 135px;
  height: 40px;
  text-decoration: none;

  :global {
    span {
      margin: 0 20px;
    }
  }
}

.fakeLeftSpace {
  width: 135px;
}
