@import '../../styles/includes';

.challenges {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px 30px 30px;
}

.title {
  @include roboto-bold();

  font-size: 24px;
  font-weight: 700;
  margin-right: 8px;
  line-height: 29px;
  color: $challenges-title;
  text-align: left;
}

.titleContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;

}

.titleLinks {
  align-items: flex-start;
  display: flex;

  span {
    min-width: 14%;
    margin-top: 3px;
  }

  > span a {
    margin: 2px 5px 0;
    min-width: 24%;
  }

  > a + a {
    margin-left: 20px;
  }
}

.buttonLaunchNew {
  min-width: 169px;
  height: 40px;
  text-decoration: none;

  :global {
    span {
      margin: 0 20px;
    }
  }
}

.fakeLeftSpace {
  width: 135px;
}
