@import '../../styles/includes';

.challenges {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px 30px 30px;
}

.title {
  @include roboto-bold();

  font-size: 24px;
  font-weight: 700;
  margin-right: 5px;
  line-height: 29px;
  color: $challenges-title;
  text-align: center;
}

.titleContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

}

.titleLinks {
  align-items: center;
  display: flex;

  > span a {
    margin: 2px 5px 0;
  }

  > a + a {
    margin-left: 20px;
  }
}

.buttonLaunchNew {
  min-width: 135px;
  height: 40px;
  text-decoration: none;

  :global {
    span {
      margin: 0 20px;
    }
  }
}

.fakeLeftSpace {
  width: 135px;
}
