@use '../../styles/includes' as *;

.challenges {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px 30px 30px;
  background-color: $light-bg;
}

.title {
  @include roboto-bold();

  font-size: 24px;
  font-weight: 700;
  margin-right: 8px;
  line-height: 29px;
  color: $challenges-title;
  text-align: left;
  display: flex;
  align-items: center;
}

.status {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 25px;
  color: $challenges-title;
}

.titleContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.titleLinks {
  align-items: flex-start;
  display: flex;

  span {
    min-width: 14%;
    margin-top: 3px;
  }

  > span a {
    margin: 2px 5px 0;
    min-width: 24%;
  }

  > a + a {
    margin-left: 20px;
  }
}
.projectActionButtonWrapper {
  display: flex;
  gap: 5px;

  a {
    min-width: 169px;
    height: 40px;
    text-decoration: none;

    :global {
      span {
        margin: 0 20px;
      }
    }
  }
}

.fakeLeftSpace {
  width: 135px;
}
