@use '../../styles/includes' as *;
.container {
  padding: 14px 30px;
  background-color: $white;

  h1 {
    @include roboto();
    font-size: 24px;
    line-height: 32px;
    margin: 0;
  }
}

.tags {
  width: 100%;
}
