@import "../../../styles/includes";

$tc-black : #151516;
$tc-gray-10: #d5d5d5;
$tc-gray-50: #808080;
$tc-light-blue: #15acec;
$tc-dark-blue: #0681ff;
$tc-dark-blue-110: #006ad7;
$tc-orange: #fd7d00;
$member-gray: #555;
$member-green: #258205;
$member-blue: #4c50d9;
$member-yellow: #f2c900;
$member-red:  #ea1900;
$base-unit: 5px;

.container {
  @include roboto;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;

  @media (max-width: 1488px) {
    gap: 40px;
    flex-direction: column;
    align-items: center;
  }

  div {
    white-space: nowrap;
  }

  &.no-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0;

    @include xs-to-sm {
      padding: (10 * $base-unit) (5 * $base-unit);
      text-align: center;
    }

    .title {
      font-size: 42px;
      font-weight: 300;
      line-height: 30px;
      color: $tc-black;
      margin-bottom: 10px;
      text-align: center;

      @include xs-to-sm {
        font-size: 28px;
        line-height: 30px;
      }
    }

    .subtitle {
      font-size: 15px;
      color: $tc-gray-90;
      line-height: 25px;
      margin-bottom: 30px;

      @include xs-to-sm {
        margin-left: 35px;
        margin-right: 35px;
      }
    }

    .desc {
      font-size: 15px;
      color: $tc-gray-50;
      line-height: 25px;
      width: 500px;
      white-space: pre-wrap;

      @include xs-to-sm {
        margin-left: 28px;
        margin-right: 28px;
        width: auto;
      }
    }
  }

  &.view {
    padding: 4 * $base-unit;

    .title {
      color: $tc-black;
      margin-top: 20px;
      margin-bottom: 6px;
      margin-left: 20px;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      text-align: center;

      @include xs-to-sm {
        text-align: center;
      }
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .submission {
      border: 1px solid $tc-gray-10;
      margin: 0 14px 25px;
      width: 227px;
      font-size: 12px;

      img {
        width: 225px;
        height: 226px;
      }
    }

    .bottom-info {
      background: #f7f7f7;
      display: flex;
      justify-content: space-between;
      padding: 8px;
      line-height: 20px;
    }

    .links {
      display: flex;
      flex-direction: column;
      font-weight: 500;
    }

    .handle {
      color: $tc-orange;
    }
  }

  .headTable {
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    padding-bottom: 13px;
    padding-top: 13px;
    color: $tc-gray-50;
    background: #e8e8e8;
    border-radius: 5px 5px 0 0;
    height: 43px;

    th {
      padding-left: 20px;
    }

    * {
      white-space: nowrap;
    }

    @include xs-to-sm {
      display: none;
    }
  }

  .lock {
    fill: $tc-light-blue;
    height: 136px;
    margin-bottom: 30px;
    width: 110px;
  }
}

.empty-left {
  flex: 1;

  @media (max-width: 1488px) {
    display: none;
  }
}

.top-title {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  flex: 1;
  padding-right: 20px;
  padding-left: 40px;

  @media (max-width: 1488px) {
    justify-content: center;
    padding-right: 0;
  }
}

.container.dev {
  margin: 0;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  margin-top: 20px;
  line-height: 50px;
  // text-align: center;

  @include xs-to-sm {
    margin: 30px 0;
    line-height: 20px;
  }

  .col {
    text-align: center;
  }

  .handle {
    color: $tc-dark-blue;
  }

  &.non-mm {
    .headTable {
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      padding-bottom: 14px;
      color: $tc-gray-50;
      border-bottom: 1px solid $tc-gray-10;
      background: transparent;

      @include xs-to-sm {
        display: none;
      }
    }

    .rowTable {
      color: $tc-gray-70;
      border-bottom: 1px solid $tc-gray-10;
      font-size: 15px;
    }

    .col-8Table {
      .button-wrapper {
        display: flex;
        align-items: center;
      }
      .download-submission-button {
        padding: 0;
        border: none;
        background-color: transparent;
        outline: none;
        margin-right: 14px;
        width: 24px;
        svg {
          width: 24px;
        }
      }

      .download-artifacts-button {
        height: 40px;
      }
    }

    .handle {
      color: $tc-black;
    }
  }
}

.submissionsContainerTable {
  width: auto;
  max-width: 100%;

  table {
    width: 100%;
  }
}

.tooltip {
  font-size: 14px;
  margin: 10px 10px 0 10px;
  padding-top: 5px;
}

.col-arrow {
  display: flex;
  padding-left: 5px;

  :global {
    svg {
      margin-bottom: -1px;
    }
  }
}

.col-arrow-is-sorting {
  :global {
    g {
      fill: $tc-dark-blue;
    }
  }
}

.col-arrow-sort-asc {
  :global {
    svg {
      -moz-transform: scale(1, -1);
      -o-transform: scale(1, -1);
      -webkit-transform: scale(1, -1);
      transform: scale(1, -1);
    }
  }
}

.header-sort {
  display: flex;
  // justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  padding: 0;
  background: transparent;

  &:hover {
    color: $tc-dark-blue;

    :global {
      g {
        fill: $tc-dark-blue;
      }
    }
  }
}

.challengeAction {
  min-width: 0;
  width: 181px;
  margin-top: 25px !important;
  align-self: center;
}

.level-1 {
  color: $member-gray !important;
}

.level-2 {
  color: $member-green !important;
}

.level-3 {
  color: $member-blue !important;
}

.level-4 {
  color: $member-yellow !important;
}

.level-5 {
  color: $member-red !important;
}

.btnManageSubmissions {
  height: 40px;
}

.btnDownloadAll {
  text-decoration: none;
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 15px;
  line-height: 16px;
  color: #137d60;
  background-color: transparent;

  &:hover {
    color: #0ab88a;
  }

  &:focus,
  &:disabled {
    background-color: transparent;
    color: #137d60;
  }

  &:disabled {
    pointer-events: none;
  }
}

.col-bodyTable {
  padding-left: 20px;

  a,
  button,
  span {
    white-space: nowrap;
    overflow: hidden;
  }
}

.paginationWrapper {
  display: flex;
  margin-top: 30px;
  flex: 1;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.perPageContainer {
  margin-right: 20px;
  max-width: 150px;
}

.paginationContainer {
  display: flex;
}