@import "../../styles/includes";

.durationInput {
  &:disabled {
    cursor: not-allowed !important;
    background-color: $inactive !important;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}