@use '../../styles/includes' as *;

:global {
  body.scrolling-disabled-by-modal {
    overflow: hidden;
  }

  body.scrolling-disabled-by-modal div[data-reach-popover] {
    z-index: 1100;
  }
}

.overlay {
  background: #000000;
  border: none;
  height: 100%;
  left: 0;
  opacity: 0.5;
  outline: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}

.childrenwrapper {
  position: relative;
}

.closebtn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 27px;
  opacity: 1;
  color: black;
}

.container {
  background: #fff;
  box-shadow: 0 0 14px 1px rgba(38, 38, 40, 0.15);
  border-radius: 4px;
  max-height: 95vh;
  max-width: $screen-md;
  min-width: 480px;
  width: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  @include xs-to-lg {
    max-width: 95vw;
    min-width: 0;
  }

  @include xs-to-sm {
    padding: 40px 10px;
  }
}
