@use '../../../styles/includes' as *;

.title {
  @include roboto-bold();

  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: $challenges-title;
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;

  i {
    font-weight: 400;
    font-size: 14px;
  }
}

.container {
  display: flex;
  flex-direction: column;

  .error {
    color: $tc-red;
    margin-left: 25px;
  }
  .row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-start;
    margin-top: 25px;

    .field {
      @include upto-sm {
        display: block;
        padding-bottom: 10px;
      }

      label {
        @include roboto-bold();

        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        color: $tc-gray-80;
      }

      &.col1 {
        max-width: 185px;
        min-width: 185px;
        margin-left: 30px;
        margin-right: 14px;
        margin-bottom: auto;
        margin-top: auto;
        padding-top: 10px;
        white-space: nowrap;
        display: flex;
        align-items: center;
      }

      &.col2 {
        align-self: flex-end;
        margin-bottom: auto;
        margin-top: auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
          margin-right: 30px;
          width: 271px;
        }
        input:last-of-type {
          width: 187px;
          margin-right: 10px;
        }
      }
    }

    .tab {
      cursor: pointer;
      box-sizing: border-box;
      width: 150px;
      height: 40px;
      border: 1px solid $tc-gray-40;
      border-right-width: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        @include roboto-light();

        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        color: $tc-gray-80;
      }

      &.active {
        border-color: $tc-blue-20;
        border-right-width: 1px;
      }
    }
    .tab:first-of-type {
      border-radius: 2px 0 0 2px;
    }
    .tab:last-of-type {
      border-right-width: 1px;
      border-radius: 0 2px 2px 0;
    }

    .editor {
      @include roboto-light();

      width: 100%;
      margin: 0 30px;
      height: 200px;
      border-radius: 2px;
      border: 1px solid $tc-gray-40;
      padding: 30px;
      font-size: 16px;
    }
  }
  .row:first-of-type,
  .row:nth-of-type(2) {
    justify-content: center;
  }
}

.button {
  margin: 30px 0 0 30px;
  min-width: 212px;
  height: 40px;
  align-self: flex-start;
}
