@import '../../styles/includes';

.icon {
  @include roboto-light();
  display: inline-block;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  margin-right: 20px;
  text-align: center;
  color: $white-text;
  background-color: $green;
  border-radius: 2px;
  line-height: 40px;
  font-size: 16px;
  :global .data_science {
    background-color: $orange;
  }

  :global .design {
    background-color: $light-blue;
  }
}



