@use '../../../styles/includes' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  background: $white;
  opacity: 1;
  position: relative;
  border-radius: 6px;
  margin: 0 auto;
  padding: 15px 20px;
  width: 600px;
  max-width: 95vw;
}

.button {
  height: 40px;

  span,
  button {
    padding: 0 20px;
  }
}

.title {
  @include roboto-medium();

  color: grey;
  font-size: 16px;
}

.blockRow {
  width: 100%;
}

.blockAddAttachment {
  border-top: 1px solid $tc-gray-30;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.textWhoYouWant {
  @include roboto;

  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
}

.blockForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.blockFormEdit {
  margin-top: 30px;
  margin-bottom: 10px;
}

.blockSelectMember {
  width: calc(100% + 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  background: $tc-gray-20;
  border-top: 1px solid $tc-gray-30;
  margin: 10px -20px -15px -20px;
  border-radius: 0 0 10px 10px;
}

.textOrOnly {
  @include roboto-medium();

  font-size: 11px;
  color: grey;
  text-transform: uppercase;
}

.btnShareWith {
  margin-top: 10px;
  margin-bottom: 30px;
}

.blockBtns {
  display: flex;
  gap: 30px;
}
