@import "../../../styles/includes";

.container {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;

  .PhaseRow {
    display: flex;
    align-items: center;
    color: $tc-red;

    svg{
    cursor: pointer;
  }
    
    .icon {
      margin-top: 30px;
      margin-left: -20px;
    }
  }

  .row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 30px 0 30px;
    height: 40px;



    .field {
      @include upto-sm {
        display: block;
        padding-bottom: 10px;
      }

      label {
        @include roboto-bold();

        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        color: $tc-gray-80;
      }

      &.col1 {
        max-width: 185px;
        min-width: 185px;
        margin-right: 14px;
        margin-bottom: auto;
        margin-top: auto;
        white-space: nowrap;
        display: flex;
        align-items: center;
      }

      &.title {
        flex-direction: column;
        align-items: flex-start;

        .timezone {
          color: $gray;
          font-size: 15px;
        }
      }

      &.col2 {
        align-self: flex-end;

        margin-bottom: auto;
        margin-top: auto;
        display: flex;
        flex-direction: row;

        justify-content: center;

        .editButton {
          display: flex;
          color: $tc-gray-60;
          align-items: center;
          cursor: pointer;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            @include roboto-medium();

            color: $tc-gray-60;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            margin-right: 5px;
          }

          &.active {
            color: $tc-blue-20;
            span {
              color: $tc-blue-20;
            }
          }
        }
      }
    }

    .timeline {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .phase {
        display: flex;
        flex-direction: column;
        z-index: 1;
        cursor: pointer;
        align-items: flex-start;

        span {
          @include roboto;

          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          color: $tc-gray-80
        }
        span:last-of-type {
          @include roboto-light();

          font-weight: 300;
        }
        .circle {
          align-self: center;
          background: $tc-blue-20;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          color: $tc-blue-20;
          margin-bottom: 25px;
        }
      }
      .phase:first-of-type{
        .circle {
          align-self: flex-start;
        }

        span {
          align-self: flex-start;
        }
      }
      .phase:last-of-type {
        .circle {
          align-self: flex-end;
        }

        span {
          align-self: flex-end;
        }
      }
    }
    .timeline:before {
      content: "";
      position: absolute;
      top: -7px;
      height: 12px;
      width: 100%;
      background-color: $tc-gray-20;
    }

    .templates {
      width: 300px;
    }

    &.flexStart {
      justify-content: flex-start;;
    }
  }
}

