@import '../../../styles/includes';

.tag {
  display: inline-block;
  padding: 0 15px;
  border-radius: 10px;
  background-color: $lighter-gray;
  min-width: 54px;
  text-align: center;
  max-height: 22px;
  height: 22px;
  margin: 5px 0; 
  color: $dark-gray;

  span {
    font-size: 15px;
    line-height: 22px;
    vertical-align: top;
  }
}

.dataScience {
  color: $white;
  background-color: $orange;
}

.development {
  color: $white;
  background-color: $green;
}

.qa {
  color: $white;
  background-color: $green;
}

.design {
  color: $white;
  background-color: $light-blue;
}
