@import "../../styles/includes";

.sidebar {
  width: 100%;
  background-color: $dark-gray;

  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin-top: 0;

    li {
      cursor: pointer;
    }
  }

}

//.item {
//  display: block;
//  @include roboto;
//  padding: 20px 0 20px 0;
//  text-align: center;
//  font-size: 18px;
//  color: $white-text;
//  text-decoration: none;
//  background-color: lighten($darker-gray, 10);
//  border-left: 4px solid transparent;
//}
//
//.active {
//  border-left-color: $teal;
//  background-color: $darker-gray;
//}
//


.logo {
  width: calc(100% - 100px);
  padding: 30px 50px 42px 50px;
  @media screen and (max-width: 300px * 4) {
    width: calc(100% - 20px);
    padding: 30px 10px 42px 10px;
  }
}

.title {
  @include roboto;

  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px
}
