@import "../../styles/includes";

.sidebar {
  width: 100%;
  height: 100vh;
  background-color: $dark-gray;
  overflow: auto;
}

.logo {
  width: calc(100% - 100px);
  padding: 30px 50px 42px 30px;
  @media screen and (max-width: 300px * 4) {
    width: calc(100% - 20px);
    padding: 30px 10px 42px 10px;
  }
}

.title {
  @include roboto;

  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  color: $white;
  margin-bottom: 37px;
  padding-left: 30px;
}

.homeLink {
  @include roboto;

  color: $white;
  font-size: 16px;
  line-height: 19px;
  height: 50px;
  border-left: 2px solid transparent;
  padding-left: 30px;
  display: flex;
  align-items: center;

  &.active {
    background-color: #1C3040;
    border-left-color: $teal;
  }
}

p.supportLink {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: grey;
  font-size: 12px;
  line-height: 150%;
  margin-top: 10px;
  padding-bottom: 40px;
  text-align: center;
}
