@import "../../styles/includes";

.sidebar {
  width: 100%;
  height: 100vh;
  background-color: $dark-gray;
  overflow: auto;

  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin-top: 0;

    li {
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
  }

  .noProjects {
    @include roboto;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 20px;
    color: $white;
  }
}

.logo {
  width: calc(100% - 100px);
  padding: 30px 50px 42px 50px;
  @media screen and (max-width: 300px * 4) {
    width: calc(100% - 20px);
    padding: 30px 10px 42px 10px;
  }
}

.title {
  @include roboto;

  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px
}

.homeLink {
  @include roboto;

  color: $white;
  font-size: 16px;
  line-height: 19px;
  height: 50px;
  border-left: 2px solid transparent;
  padding-left: 30px;
  display: flex;
  align-items: center;

  &.active {
    background-color: #1C3040;
    border-left-color: $teal;
  }
}
