@import "../../styles/includes";

.tabs {
  margin: 0 20px;

  > h1 {
    @include roboto-bold();

    font-weight: 400;
    color: #2a2a2a;
    font-size: 32px;
    margin: 32px 0 24px;
    line-height: 32px;
    font-weight: 600;
    text-transform: uppercase;
  }

  hr {
    border: none;
    height: 1px;
    background-color: #e5e5e5;
    margin: 0;
  }
}

.mobileTabExpanded {
  margin: 0 16px;
  background-color: #eaf6fd;

  .item {
    height: 40px;
    margin: 0;

    p {
      // @include barlow-bold;

      font-weight: 600;
      color: #555;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      padding-left: 16px;
      padding-top: 10px;
    }
  }

  .active {
    background-color: #bae1f9;

    p {
      color: #2a2a2a;
      font-weight: 700;
    }
  }
}

.challengeTab {
  display: flex;
  height: 42px;
  padding: 0px;
  margin-top: 24px;
  background-color: #eaf6fd;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #d4d4d4;
  position: relative;

  .item {
    // @include barlow;

    font-weight: 600;
    font-size: 14px;
    color: #555;
    line-height: 20px;
    padding: 12px 16px 10px 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;

    &:not(.active):hover {
      background-color: #bae1f9;
    }
  }

  .active {
    color: #0c0c0c;
    font-weight: 700;

    &::after {
      content: "";
      background-image: url(../../assets/images/nav-active-item.svg);
      height: 10px;
      width: 40px;
      margin-top: 10px;
      justify-content: center;
      z-index: 100;
      display: block;
      position: absolute;
      top: 31px;
    }
  }
}

.mobileTabContainer {
  background-color: #eaf6fd;
  height: 40px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #d4d4d4;

  .title {
    // @include barlow-bold;

    font-weight: 700;
    color: #0c0c0c;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 16px;
    padding-top: 10px;
  }

  .icon {
    width: 16px;
    height: 9px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    transform: scale(1.5);
  }

  .down {
    transform: scale(1.5) rotate(180deg);
    margin-right: 20px !important;
  }


  @media (max-width: 1024px) {
    margin: 0 16px;
  }
}
