@import "../../styles/includes";
.container {
  display: flex;
  margin-top: auto;

  button:not(:first-child),
  a:not(:first-child) {
    margin-left: 20px;
  }

  button {
    height: 40px;
    outline: none;
    white-space: nowrap;
  }
}
