@import "../../styles/includes";
.container {
  display: flex;
  align-items: center;
  white-space: nowrap;

  > a {
    margin: 0 5px;
  }

  .row {
    margin-bottom: 0;

    &.topRow {
      flex-wrap: wrap;
    }
  }

  .col {
    margin-right: 20px;
    display: flex;
    align-items: center;

    .fieldTitle {
      @include roboto-bold();

      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: $tc-gray-80;
      margin-right: 10px;
    }
  }
}
