@import "../../../styles/includes";

.container {
  margin-top: 30px;

  .row {
    margin: 0 30px;

    label {
      @include roboto-bold();

      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: $tc-gray-80;
    }

    .header {
      @include roboto-medium();

      width: 100%;
      align-self: center;
      box-sizing: border-box;
      background-color: $tc-gray-20;
      height: 39px;
      border-radius: 2px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      font-weight:500;
      line-height: 19px;
      color: $tc-gray-80;
      padding: 0 30px;
      margin-top: 30px;

      .col1 {
        flex: 4;

      }
      .col2 {
        flex: 4;
        display: flex;
        justify-content: center;
        padding-right: 15px;
      }
      .col3 {
        flex: 4;
        display: flex;
        justify-content: flex-end;
      }
    }

    .fileRow {
      @include roboto;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      height: 62px;
      border-bottom: 1px solid $tc-gray-60;
      color: $tc-gray-80;
      padding: 0 30px;

      .col1 {
        color: $tc-blue-20;
        flex: 4;
        cursor: pointer;
        text-decoration: none;
      }
      .col2 {
        flex: 4;
        display: flex;
        justify-content: center;
      }

      .actions {
        flex: 4;
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
      }

      .removeIcon {
        color: $tc-red;
        cursor: pointer;
      }

      .loader {
        > div {
          margin-right: -7px; /* to center along with icons */
          width: 32px;
        }
      }
    }
  }
}

