@import '../../../../styles/includes';

.noRecords {
  justify-content: center;
  align-items: center;
  padding: 35px;
  background-color: $white;
  border-radius: 8px;
  border: 1px solid $lighter-gray;

  > p {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin: 0;
  }
}
