@use '../../styles/includes' as *;

table {
  border-spacing: 0;

  tr {
    border-bottom: 1px solid #d5d5d5;
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba($tc-dark-blue-10, 0.5);
      }
    }
  }

  th {
    padding: 10px 10px;
    color: grey;
    font-size: 13px;
    line-height: 30px;
  }

  td {
    padding: 15px 10px;
    font-size: 14px;
    line-height: 20px;
  }

  th,
  td {
    @include roboto();

    &:last-of-type {
      padding-right: 20px;
    }

    &:first-of-type {
      padding-left: 20px;
    }
  }
}

.hidden {
  display: none;
}
