@import '../../../styles/includes';

$tc-dark-blue: #0681ff;
$tc-white: #FFFFFF;


.challenge-view-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid silver;

  @include xs-to-sm {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: auto;
  }

  .challenge-selector-common {
    font-family: roboto, sans-serif;
    font-size: 13px;
    line-height: 30px;
    margin: 10px 20px 0;
    cursor: pointer;
    white-space: nowrap;
  }

  .challenge-selected-view {
    font-weight: 700;
    color: $tc-dark-blue;
    border-bottom: 3px solid $tc-dark-blue;
  }

  .challenge-unselected-view {
    font-weight: 400;
    color: $tc-gray-70;
    border-bottom: 3px hidden $tc-white;
  }
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.tabsContainer {
  ul {
    margin: 0;
  }

  :global {
    .react-tabs__tab--selected {
      background: $light-bg;

      &:focus::after {
        background: $light-bg;
      }
    }
  }
}
