@import "../../../styles/includes";

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  height: 100%;
  .editingContainer {
    display: none;
  }
  .iconsContainer {
    display: flex;
  }
  &:hover {@import "../../../styles/includes";

    .item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      height: 100%;
      &:hover {
        cursor: pointer;
        background-color: $lighter-gray;
      }

      .block {
        color: $text-color;
      }

      .light-text {
        color: $light-text;
      }

      .linkGroup {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        .link,
        .link:hover,
        .link:visited {
          color: $status-blue;
          margin: 0;
          text-decoration-line: underline;
        }

        &.onlyOne {
          justify-content: center;
        }
      }


    }

    .icon {
      vertical-align: bottom;
    }

    .faIcon {
      color: $gray;
      margin-right: 10px;
      margin-left: 20px;
    }

    .faIconContainer {
      flex:1;
      width: 100%;
      display: flex;
      justify-items: flex-end;
      align-items: center;

      span {
        flex-grow: 1;
        flex-shrink: 0;
        color: $text-color;
      }
    }

    .col1 {
      flex: 6;
      flex-wrap: nowrap;
      display: flex;

      .name {
        flex:1;
        display: flex;
        flex-direction: column;
      }

      align-items: center;
      padding-left: 20px;
    }

    .col2 {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .col3 {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .col4 {
      flex: 2;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      padding-right: 20px;
      justify-content: center;
    }

    cursor: pointer;
    background-color: $lighter-gray;

    .editingContainer {
      display: flex;
    }
    .iconsContainer {
      display: none;
    }
  }

  .block {
    color: $text-color;
  }

  .light-text {
    color: $light-text;
  }

  .linkGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    align-items: center;

    .link,
    .link:hover,
    .link:visited {
      color: $status-blue;
      margin: 0;
      text-decoration-line: underline;
    }

    &.onlyOne {
      justify-content: center;
    }

    .linkGroupLeft {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: center;

      span {
        margin: 0 5px;
      }

      .linkGroupLeftBottom {
        a {
          font-size: 12px;
        }
      }
    }
  }
}

.activateButton {
  height: 24px;
  border: 1px solid transparent;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-color: $status-green;
  cursor: pointer;

  span {
    @include roboto;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $status-green;
  }
}

.icon {
  vertical-align: bottom;
}

.faIcon {
  color: $gray;
  margin-right: 10px;
  margin-left: 20px;
}

.faIconContainer {
  flex:1;
  width: 100%;
  display: flex;
  justify-items: flex-end;
  align-items: center;

  span {
    flex-grow: 1;
    flex-shrink: 0;
    color: $text-color;
  }
}

.col1 {
  flex: 6;
  flex-wrap: nowrap;
  display: flex;

  .name {
    flex:1;
    display: flex;
    flex-direction: column;
  }

  align-items: center;
  padding-left: 20px;
}

.col2 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .statusText {
    color: $text-color;
    font-size: 14px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    //hyphens: auto;
    max-width: 100px;
  }
}

.col3 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col4 {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding-right: 20px;
}

.modalContainer {
  padding: 0;
  position: fixed;
  overflow: auto;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: auto;
  max-width: none;
  transform: none;
  background: transparent;
  color: $text-color;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .contentContainer {
    box-sizing: border-box;
    background: $white;
    opacity: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    margin: 0 auto;
    width: 852px;
    padding: 30px;

    .content {
      padding: 30px;
      width: 100%;
      height: 100%;
    }

    .title {
      @include roboto-bold();

      font-size: 30px;
      line-height: 36px;
      margin-bottom: 30px;
      margin-top: 0;
    }

    span {
      @include roboto;

      font-size: 22px;
      font-weight: 400;
      line-height: 26px;
    }

    &.confirm {
      width: 999px;

      .buttonGroup {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .buttonSizeA {
          width: 193px;
          height: 40px;
          margin-right: 33px;

          span {
            font-size: 18px;
            font-weight: 500;
          }
        }

        .buttonSizeB{
          width: 160px;
          height: 40px;

          span {
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
          }
        }
      }
    }

    .buttonGroup {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      .button {
        width: 135px;
        height: 40px;
        margin-right: 66px;

        span {
          font-size: 18px;
          font-weight: 500;
        }
      }

      .button:last-child {
        margin-right: 0;
      }
    }
  }
}
