@use '../../../styles/includes' as *;

.item {
  display: flex;
  font-size: 14px;
  gap: 30px;
  height: 100%;
  padding: 0 20px;

  .editingContainer {
    display: none;
  }
  .iconsContainer {
    display: flex;
  }

  .col1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .col2 {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;

    span {
      word-break: break-all;
    }
  }

  .col3 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .col4 {
    display: flex;
    width: 30px;
    flex-direction: column;
    justify-content: center;
  }

  .col5 {
    display: flex;
    width: 80px;
    flex-direction: column;
    justify-content: center;
  }

  .col6 {
    display: flex;
    width: 40px;
    flex-direction: column;
    justify-content: center;
  }

  .block {
    color: $text-color;
    word-break: break-all;
  }

  .light-text {
    color: $light-text;
  }

  .linkGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    align-items: center;

    .link,
    .link:hover,
    .link:visited {
      color: $status-blue;
      margin: 0;
      text-decoration-line: underline;
    }

    span.link,
    span.link:hover,
    span.link:visited {
      color: $inactive;
      cursor: default;
    }

    &.onlyOne {
      justify-content: center;
    }

    .linkGroupLeft {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: center;

      span.linkDivider {
        margin: 0 5px;
      }

      .linkGroupLeftBottom {
        a,
        span {
          font-size: 12px;
        }

        span.linkDivider {
          font-size: 16px;
        }
      }
    }
  }

  .createdAt {
    color: $gray;
    font-size: 10px;

    &:hover {
      text-decoration: none;
    }
  }

  .lastUpdated {
    text-decoration: none;
    .lastUpdatedAt {
      color: $tc-black;
    }
    .lastUpdatedBy {
      color: $gray;
      font-size: 10px;
    }
  }
}

.activateButton {
  height: 24px;
  border: 1px solid transparent;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-color: $status-green;
  cursor: pointer;

  span {
    @include roboto;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $status-green;
  }

  &.activateButtonDisabled {
    border-color: $inactive;
    cursor: default;

    > span {
      color: $inactive;
    }
  }
}

.deleteButton {
  height: 22px;
  width: 86px;
  border-radius: 11.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: $tc-red;
  cursor: pointer;

  span {
    @include roboto;

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: $tc-red;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.icon {
  vertical-align: bottom;
}

.faIcon {
  color: $gray;
  margin-right: 10px;
  margin-left: 20px;
}

.faIconContainer {
  flex:1;
  width: 100%;
  display: flex;
  justify-items: flex-end;
  align-items: center;

  span {
    flex-grow: 1;
    flex-shrink: 0;
    color: $text-color;
  }
}

.modalContainer {
  padding: 0;
  position: fixed;
  overflow: auto;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: auto;
  max-width: none;
  transform: none;
  background: transparent;
  color: $text-color;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .contentContainer {
    box-sizing: border-box;
    background: $white;
    opacity: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    margin: 0 auto;
    width: 852px;
    padding: 30px;

    .content {
      padding: 30px;
      width: 100%;
      height: 100%;
    }

    .title {
      @include roboto-bold();

      font-size: 30px;
      line-height: 36px;
      margin-bottom: 30px;
      margin-top: 0;
    }

    span {
      @include roboto;

      font-size: 22px;
      font-weight: 400;
      line-height: 26px;
    }

    &.confirm {
      width: 999px;

      .buttonGroup {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .buttonSizeA {
          width: 193px;
          height: 40px;
          margin-right: 33px;

          span {
            font-size: 18px;
            font-weight: 500;
          }
        }

        .buttonSizeB{
          width: 160px;
          height: 40px;

          span {
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
          }
        }
      }
    }

    .buttonGroup {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      .button {
        width: 135px;
        height: 40px;
        margin-right: 66px;

        span {
          font-size: 18px;
          font-weight: 500;
        }
      }

      .button:last-child {
        margin-right: 0;
      }
    }
  }
}
