@import "../../../styles/includes";

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  height: 100%;
  &:hover {@import "../../../styles/includes";

    .item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      height: 100%;
      &:hover {
        cursor: pointer;
        background-color: $lighter-gray;
      }

      .block {
        color: $text-color;
      }

      .light-text {
        color: $light-text;
      }

      .linkGroup {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        .link,
        .link:hover,
        .link:visited {
          color: $status-blue;
          margin: 0;
          text-decoration-line: underline;
        }

        &.onlyOne {
          justify-content: center;
        }
      }


    }

    .icon {
      vertical-align: bottom;
    }

    .faIcon {
      color: $gray;
      margin-right: 10px;
      margin-left: 20px;
    }

    .faIconContainer {
      flex:1;
      width: 100%;
      display: flex;
      justify-items: flex-end;
      align-items: center;

      span {
        width: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        color: $text-color;
      }
    }

    .col1 {
      flex: 6;
      flex-wrap: nowrap;
      display: flex;

      .name {
        flex:1;
        display: flex;
        flex-direction: column;
      }

      align-items: center;
      padding-left: 20px;
    }

    .col2 {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .col3 {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .col4 {
      flex: 2;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      padding-right: 20px;
      justify-content: center;
    }

    cursor: pointer;
    background-color: $lighter-gray;
  }

  .block {
    color: $text-color;
  }

  .light-text {
    color: $light-text;
  }

  .linkGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    .link,
    .link:hover,
    .link:visited {
      color: $status-blue;
      margin: 0;
      text-decoration-line: underline;
    }

    &.onlyOne {
      justify-content: center;
    }
  }
}

.icon {
  vertical-align: bottom;
}

.faIcon {
  color: $gray;
  margin-right: 10px;
  margin-left: 20px;
}

.faIconContainer {
  flex:1;
  width: 100%;
  display: flex;
  justify-items: flex-end;
  align-items: center;

  span {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    color: $text-color;
  }
}

.col1 {
  flex: 6;
  flex-wrap: nowrap;
  display: flex;

  .name {
    flex:1;
    display: flex;
    flex-direction: column;
  }

  align-items: center;
  padding-left: 20px;
}

.col2 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .statusText {
    color: $text-color;
    font-size: 14px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    //hyphens: auto;
    max-width: 100px;
  }
}

.col3 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col4 {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding-right: 20px;
}
