@import "../../../styles/includes";

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  flex-shrink: 0;
  position: relative;
}

@-moz-document url-prefix() {
  .wrapper {
    padding-bottom: 30px;
  }
}

.title {
  @include roboto-bold();

  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: $challenges-title;
  margin-top: 30px;
  text-align: center;

  span {
    color: $tc-red;
  }
}

.textRequired {
  @include roboto-medium();

  color: $tc-red;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  align-self: flex-end;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 2px;
}

.container {
  width: 100%;
  margin-top: 44px;

  .formContainer {
    box-sizing: border-box;
    margin: 0 30px 30px 30px;


    @include form-container-default();

    form {
      width: 100%;
    }

    .group {
      @include form-container-default();
      @include form-container-common();
      background-color: $white;
      width: 100%;
      border-radius: 6px;
      box-sizing: border-box;

      .row {
        margin-bottom: 0;

        &.topRow {
          flex-wrap: wrap;
        }

        .col1 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          max-width: 0;
          min-width: 0;
          margin-right: 0;
          width: auto;
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          padding-top: 0 !important;

          span {
            color: $tc-red;
          }
        }

        .col2 {
          width: auto;

          div {
            margin-right: 13px;
          }

          div:last-child {
            margin-right: 0;
          }

          .subGroup {
            width: 100%;
            display: flex;
            flex-direction: column;

            .subRow {
              display: flex;
              align-items: center;
              margin-bottom: 18px;
            }
            .subRow:last-of-type {
              margin-bottom: 0;
            }
          }
        }

        .tcCheckbox {
          @include tc-checkbox;

          .tc-checkbox-label {
            @include roboto-light();

            line-height: 17px;
            font-weight: 300;
            margin-left: 21px;
            user-select: none;
            cursor: pointer;
            width: 195px;
            font-size: 14px;
            color: #3d3d3d;
          }

          height: 18px;
          width: 210px;
          margin: 0;
          padding: 0;
          vertical-align: bottom;
          position: relative;
          display: inline-block;

          input[type=checkbox] {
            display: none;
          }

          label {
            @include roboto-light();

            line-height: 17px;
            font-weight: 300;
            cursor: pointer;
            position: absolute;
            display: inline-block;
            width: 14px;
            height: 14px;
            top: 0;
            left: 0;
            border: none;
            box-shadow: none;
            background: $tc-gray-30;
            transition: all 0.15s ease-in-out;

            &::after {
              opacity: 0;
              content: '';
              position: absolute;
              width: 9px;
              height: 5px;
              background: transparent;
              top: 2px;
              left: 2px;
              border-top: none;
              border-right: none;
              transform: rotate(-45deg);
              transition: all 0.15s ease-in-out;
            }

            &:hover::after {
              opacity: 0.3;
            }

            div {
              margin-left: 24px;
              width: 300px;
            }
          }

          input[type=checkbox]:checked ~ label {
            background: $tc-blue-20;
          }

          input[type=checkbox]:checked + label::after {
            border-color: $white;
          }
        }

        .col {
          margin-right: 20px;
          display: flex;
          align-items: center;

          .fieldTitle {
            @include roboto-bold();

            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
            color: $tc-gray-80;
            margin-right: 10px;
          }
        }
      }
    }
    .group:last-of-type {
      margin-bottom: 0;
    }

    .breakLine {
      margin-left: 30px;
      margin-right: 30px;
      border: 1px solid $tc-gray-40;
      margin-top: 30px;
      margin-bottom: 0;
    }

    .newFormContainer {
      @include form-container-common();
      padding-bottom: 30px;
    }
  }
}

.actionButtons {
  display: flex;
  position: absolute;
  top: 30px;
}

.actionButtonsLeft {
  left: 20px;
}

.actionButtonsRight {
  right: 20px;
  
  .button:not(:last-child),
  a:not(:last-child) {
    margin-right: 20px;
  }

  button { 
    white-space: nowrap;
  }
}

.button {
  height: 40px;
  span {
    padding: 0 20px;
  }
}
.buttonContainer {
  display: flex;
  margin: 0px 30px;
  flex-direction: row;
  justify-content: flex-end;
  flex-shrink: 0;

  .button {
    height: 40px;
    margin-right: 30px;

    span {
      padding: 0 20px;
    }
  }

  .button:nth-of-type(3) {
    width: 175px;
  }

  .button:last-of-type {
    margin-right: 0;
  }
}

.bottomContainer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

