@import "../../../styles/includes";

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: flex-start;
  margin-top: 30px;
  
  > span {
    margin-top: 10px;
  }

  .field {
    @include upto-sm {
      display: block;
      padding-bottom: 10px;
    }

    label {
      @include roboto-bold();

      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: $tc-gray-80;
    }

    &.col1 {
      max-width: 185px;
      min-width: 185px;
      margin-left: 30px;
      margin-right: 14px;
      margin-bottom: auto;
      margin-top: auto;
      padding-top: 10px;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }

    &.col2.error {
      color: $tc-red;
      margin-top: -25px;
      padding-left: 230px;
    }

    &.col2 {
      align-self: flex-end;
      margin-bottom: auto;
      margin-top: auto;
      display: flex;
      flex-direction: row;
      align-items: center;

      input {
        margin-right: 30px;
        width: 150px;
      }
      input:last-of-type {
        width: 187px;
        margin-right: 10px;
      }
    }
  }
}

.selectContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tc-prize-bg;
  border: 1px solid $tc-gray-40;
  max-width: 50px;
  min-width: 50px;
  width: 50px;
  height: 40px;
  border-right-width: 0;
}
