@use '../../../styles/includes' as *;

.row {
  box-sizing: border-box;
  //width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: flex-start;
  margin-top: 30px;

  .field {
    @include upto-sm {
      display: block;
      padding-bottom: 10px;
    }

    label {
      @include roboto-bold();

      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: $tc-gray-80;
    }

    &.col1 {
      max-width: 185px;
      min-width: 185px;
      margin-left: 30px;
      margin-right: 14px;
      margin-bottom: auto;
      margin-top: auto;
      padding-top: 10px;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }

    &.col2 {
      align-self: flex-end;
      margin-bottom: auto;
      margin-top: auto;
      display: flex;
      flex-direction: row;
      align-items: center;

      input {
        margin-right: 30px;
        width: 271px;
      }
      input:last-of-type {
        width: 70px;
        margin-right: 10px;
      }
    }
  }
}

.icon {
  color: $tc-red;
  cursor: pointer;
}

.dollarIcon {
  color: $tc-black;
  cursor: pointer;
}

.checkpointPrizeContainer {
  margin: 0 0 0 60px;
}

.checkpointLabel {
  font-weight: 500 !important;
  padding-left: 0 !important;
}

.checkpointPrizeContainer > div {
  display: inline-block;
  margin-right: 10px;
}

.checkpointPrizeInputContainer {
  box-sizing: border-box;
  display: flex;
  height: 40px;
}

.checkpointPrizeAmountContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tc-prize-bg;
  border: 1px solid $tc-gray-40;
  max-width: 50px;
  min-width: 50px;
  width: 50px;
  border-right-width: 0;
}

.checkpointSelect {
  max-width: 85px;
}
